*{
    box-sizing: border-box;
    border: 0px;
}
$size: 30px;
$weight: bolder;
$realColor: hsl(213, 96%, 18%);
$smallTextColor: hsl(231, 11%, 63%);

@mixin layout{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: auto;
    padding: 10px 0;
    
  .heading{
      font-size: $size;
      font-size: $weight;
      color: $realColor;
  }
  .additionalText{
      font-size: 15px;
      color: $smallTextColor;
  }
  

}

body{
    background-color:  hsl(229, 24%, 87%);
}

//for smaller screens
  @media screen and (max-width: 500px) {
 
  .container{
    flex-direction: column;
    background-color: hsl(231, 100%, 99%);
    border-radius: 10px;
    position: relative;
    .svg{
      display: none;
    }
  }
      .back{
        visibility: visible;
    }
    .plans{
      flex-direction: column;
    }
    .navigator{
      @include layout;
      width: 80%;
      
    }
    .billing{
      display:flex;
      gap: 6px;
    }
    .nav{
      position: fixed;
      bottom: 0px;
      left: 0;
      width: 100%;
      background-color: hsl(231, 100%, 99%);
      padding: 6px 10px;
      margin: auto auto;
    }
    
      
  }
  
  //for large screens
@media screen and (min-width: 600px) {
.container{
    border-radius: 10px;
    background-color: hsl(231, 100%, 99%);
    max-width: 80%;
    padding: 10px 0px;
    margin: auto auto;
    display: flex;
    justify-content: space-between;
    position: relative;
      
    .navigator{
      @include layout;
      width: 45%;
      margin: auto auto;
    }
}
}
//navigation
.nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        .back{
          border-radius: 8px;
              color: $smallTextColor;
              padding: 12px;
      }
      .next{
        border-radius: 8px;
        background-color: hsl(213, 96%, 18%);
        padding: 12px;
        color: white;
      }
        
    }

.personalInfo{
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: auto;
  input{
      border: 1px solid grey;
      border-radius: 8px;
      padding: 12px;
  }
}


//subscription plans
.plans{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    .billing{
        border: 1px solid grey;
        border-radius: 6px;
        width: 400px;
        max-width: 100%;
        padding: 10px;
        cursor: pointer;
        
    }
}
//switch between months and years
.duration{
    display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: hsl(229, 24%, 87%, 0.2);
  padding: 10px 20px;
  border-radius: 10px;
  span {
    font-size: 16px;
    font-weight: bold;
    color: #94a3b8;
    transition: color 0.3s;
  }
  .active {
    color: #02295a;
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
     input {
      opacity: 0;
      width: 0;
      height: 0;
    }
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #02295a;
    border-radius: 20px;
    transition: 0.3s;
  }
  
  .slider::before {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    border-radius: 50%;
    transition: 0.3s;
  }
  
  input:checked + .slider {
    background-color: #02295a;
  }
  
  input:checked + .slider::before {
    transform: translateX(20px);
  }
}

.services{
  display: flex;
  flex-direction: column;
  gap: 10px;

  .offers{
  display: flex;
  justify-content: space-between;
  border: 1px solid grey;
  border-radius: 8px;
  padding: 10px;
  font-size: 12px;
  .description{
    color: $realColor;
    font-weight: bold;
  }
  .validity{
    color: $smallTextColor;
  }
  .price{
    color: $realColor;
  }
}
}

//summary of chosen plans
.summaryCard{
  background-color: hsl(229, 24%, 87%, 0.2);
  border-radius: 4px;
  .summaryItem{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 12px;
    .description{
      color: $realColor;
      font-weight: bold;
    }
    .price{
      color: $smallTextColor;
    }
  }
}
.total{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-size: 12px;
  .description{
    color: $smallTextColor;
    font-weight: bold;
  }
  .price{
    color:  hsl(243, 100%, 62%);
    font-weight: bold;
  }
}
