*{
    box-sizing: border-box;
    border: 0px;
}
$size: 30px;
$weight: bolder;
$realColor: hsl(213, 96%, 18%);
$smallTextColor: hsl(231, 11%, 63%);

@mixin layout{
  width: 45%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: auto;
    

  .heading{
      font-size: $size;
      font-size: $weight;
      color: $realColor;
  }
  .additionalText{
      font-size: 15px;
      color: $smallTextColor;
  }
  

}

body{
    background-color:  hsl(229, 24%, 87%);
}
.container{
    border-radius: 10px;
    background-color: hsl(231, 100%, 99%);
    max-width: 60%;
    padding: 10px 0px;
    margin: auto auto;
    display: flex;
    justify-content: space-between;
}
.personalInfo{
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: auto;
    
    input{
        border: 1px solid grey;
        border-radius: 8px;
        padding: 12px;
    }
}

.ads-on{
  @include layout;
}
.subscription{
  @include layout;
}
.summary{
  @include layout;
}

.plans{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    .billing{
        border: 1px solid grey;
        border-radius: 6px;
        width: 300px;
        padding: 10px;
        cursor: pointer;
    }
}

.duration{
    display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: hsl(229, 24%, 87%, 0.2);
  padding: 10px 20px;
  border-radius: 10px;
  span {
    font-size: 16px;
    font-weight: bold;
    color: #94a3b8;
    transition: color 0.3s;
  }
  .active {
    color: #02295a;
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
     input {
      opacity: 0;
      width: 0;
      height: 0;
    }
  }
  
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #02295a;
    border-radius: 20px;
    transition: 0.3s;
  }
  
  .slider::before {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    border-radius: 50%;
    transition: 0.3s;
  }
  
  input:checked + .slider {
    background-color: #02295a;
  }
  
  input:checked + .slider::before {
    transform: translateX(20px);
  }
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .back{
      border-radius: 8px;
          color: $smallTextColor;
          padding: 12px;
          max-width: 100px;
          align-self: flex-start;
  }
  .next{
    border-radius: 8px;
    background-color: hsl(213, 96%, 18%);
    padding: 12px;
    max-width: 100px;
    align-self: flex-end;
    color: white;
  }
    
}
.offers{
  display: flex;
  justify-content: space-between;
  border: 1px solid grey;
  border-radius: 8px;
  padding: 10px;
  font-size: 12px;
  .description{
    color: $realColor;
    font-weight: bold;
  }
  .validity{
    color: $smallTextColor;
  }
  .price{
    color: $realColor;
  }
}



